html, body {
  font-size: 10px;
  color: black;
  box-sizing: border-box;
  line-height: 1rem;
  background:
  radial-gradient(circle farthest-side, rgb(80, 159, 70), rgba(18, 88, 0, 0.9)),
  url(https://www.toptal.com/designers/subtlepatterns/patterns/noise_lines.png);
  position: relative;
  height: 100vh;
  width: 100vw;
}

.player {
  position: relative;
  width: 20rem;
  height: 14rem;
}

.card {
  position: relative;
  padding: 1rem;
  width: 10rem;
  height: 14rem;
  background-color: #dcdcca;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 1px 2px 6px 0px rgba(0,0,0,0.2);
}

.card{
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.card.dealer{
  transform: rotate(0deg);
  bottom:auto;
}

.card.player1{
  transform: rotate(45deg);
  right:auto;
  top:auto;
}

.card.player2{
  transform: rotate(0deg);
  top:auto;
}

.card.player3{
  transform: rotate(-45deg);
  left:auto;
  top:auto;
}

.card-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.card-suit-container {
  position: absolute;
  top: 2rem;
  left: 2.5rem;
  right: 2.5rem;
  bottom: 2rem;
}

.suit-color-diamond {
  color: red;
}

.suit-color-heart {
  color: red;
}

.suit-color-club {
  color: black;
}

.suit-color-spade {
  color: black;
}

.suit-point {
  position: absolute;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  transform: translate(-50%, -50%);
}

.suit-point-small {
  font-size: 1.0rem;
}

.suit-point-large {
  font-size: 2rem;
}

.suit-digit-container {
  position: absolute;
  width: 1.25rem;
  height: 1.75rem;
  text-align: center;
}

.suit-digit {
  font-size: 1.25rem;
}

.flip {
  transform: scale(-1.0, -1.0);
}

.suit-flip {
  transform: translate(-50%, -50%) scale(-1.0, -1.0);
}
