html, body {
  font-size: 10px;
  color: black;
  box-sizing: border-box;
  line-height: 1rem;
}

.card {
  position: relative;
  padding: 1rem;
  width: 10rem;
  height: 14rem;
  background-color: #dcdcca;
}

.card-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.card-suit-container {
  position: absolute;
  top: 1rem;
  left: 1rem;
  right: 1rem;
  bottom: 1rem;
}

.suit-color-diamond {
  color: red;
}

.suit-color-heart {
  color: red;
}

.suit-color-club {
  color: black;
}

.suit-color-spade {
  color: black;
}

.suit-point {
  position: absolute;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  transform: translate(-50%, -50%);
}

.suit-point-small {
  font-size: 1.0rem;
}

.suit-point-large {
  font-size: 2rem;
}

.suit-digit-container {
  position: absolute;
  width: 1.25rem;
  height: 1.75rem;
  text-align: center;
}

.suit-digit {
  font-size: 1.25rem;
}

.flip {
  transform: scale(-1.0, -1.0);
}
