	/*
  	suits1 icon font: suits1
  	Creation date: 25/04/2018 03:22
  	*/

@font-face {
  font-family: "suits1";
  src: url("./suits1.eot");
  src: url("./suits1.eot?#iefix") format("embedded-opentype"),
       url("./suits1.woff") format("woff"),
       url("./suits1.ttf") format("truetype"),
       url("./suits1.svg#suits1") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "suits1";
    src: url("./suits1.svg#suits1") format("svg");
  }
}

[class^="font-suits1-"]:before, [class*=" font-suits1-"]:before,
[class^="font-suits1-"]:after, [class*=" font-suits1-"]:after {
  font-family: suits1;
  font-style: normal;
  margin-left: 20px;
}

.font-suits1-diamond:before {
  content: "\f100";
  color: red;
}

.font-suits1-heart:before {
  content: "\f101";
  color: red;
}

.font-suits1-club:before {
  content: "\f102";
  color: black;
}

.font-suits1-spade:before {
  content: "\f103";
  color: black;
}